body
  background-image: url('images/bg_html.jpg')
  width: 80%
  margin: 0 auto

/* head */
.head
  margin-top: 40px
  width: 990px

.head img
  padding-left: 5px
  cursor: pointer

.share
  float: right
  padding-bottom: 25px

.menu
  float: right
  clear: both

.menu > li
  display: inline
  margin-left: 50px
  cursor: pointer

.actived
  color: #009AC0



/* slider */
.slider
  margin-top: 30px
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  width: 990px

.slider img
  float: left

.slider-info
  padding: 20px 0 0 710px
  background-color: #292929
  width: 280px
  height: 395px

.slider-info p
  color: #ABABAB
  font-size: 18px
  margin-top: 0px
  margin-bottom: 5px

.slider-info h1
  color: #138DB5
  font-size: 40px
  font-family: monospace

.slider-info a
  font-family: inherit
  padding: 1em 1.4em
  font-size: 14px
  color: white
  background-color: #3F3F3F
  text-decoration: none
  display: inline-block
  line-height: normal
  vertical-align: middle
  text-align: center
  cursor: pointer
  margin-top: 30px

/* introduction */
.introduction
  background-color: white
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  margin-top: 40px
  padding: 20px 50px
  font-size: 18px
  width: 890px

/* news */
.news
  background-color: white
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  margin-top: 40px
  padding: 20px 50px
  font-size: 18px
  width: 890px
  height: 500px

.leftnews
  float: left
  width: 600px
  height: 210px

.leftnews img
  float: left
  width: 210px
  height: 160px
  padding: 5px
  background-color: #F4F4F4

.leftnews h4
  margin-bottom: -5px
  padding-left: 250px

.leftnews p
  line-height: 25px
  font-size: 16px
  padding-left: 250px

.leftnews div
  padding-bottom: 10px

.rightnews h1
  padding-left: 650px

.rightnews ul
  list-style-image: url("images/icon_03.png")

.rightnews li
  margin-left: 625px
  padding-bottom: 12px

/* footer */
.footer
  margin-top: 40px
  text-align: center

.footer p
  line-height: 10px
