body
  background-image: url('images/bg_html.jpg')
  width: 80%
  margin: 0 auto

/* head */
.head
  margin-top: 40px

.head img
  padding-left: 5px

.share
  float: right
  padding-bottom: 25px

.menu
  float: right
  clear: both

.actived
  color: rgb(0,154,192)

li
  display: inline
  margin-left: 50px

/* slider */
.slider
  margin-top: 30px
  background-color: rgb(41, 41, 41)
  height: 415px

.slider img
  float: left

.slider-info
  padding: 20px 0 0 690px

.slider-info p
  color: rgb(171, 171, 171)
  font-size: 18px
  margin-top: 0px
  margin-bottom: 5px

.slider-info h1
  color: rgb(19, 141, 181)
  font-size: 40px
  font-family: monospace

.slider-info a
  font-family: inherit
  padding: 1em 1.4em
  font-size: 14px
  color: white
  background-color: rgb(63, 63, 63)
  text-decoration: none
  display: inline-block
  line-height: normal
  vertical-align: middle
  text-align: center
  cursor: pointer
  margin-top: 30px

  
