body
  background-image: url('images/bg_html.jpg')

.wrap
  width: 945px
  margin: 0 auto
  padding-top: 40px

.actived
  color: #01a5ca

h1 
  font-size: 32px

/* head */
.head
  margin-bottom: 37px

.share
  float: right
  margin-bottom: 40px

  li
    display: inline
    padding-right: 9px

  a:hover
    opacity: 0.3

.menu
  float: right
  clear: both

  li
    display: inline
    padding-left: 50px

  a:hover
    color: #01a5ca


/* slider */
.slider
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  height: 417px
  margin-bottom: 47px

  img
    float: left

  div
    float: right
    background-color: #292929
    width: 255px
    height: 417px
    padding-left: 48px

    h1
      color: #01a5ca
      font-size: 40px
      padding-top: 40px
      font-family: monospace
      margin-bottom: 25px

    p
      color: #ABABAB
      font-size: 18px
      width: 240px
      line-height: 30px
      margin-bottom: 40px

    a
      font-family: inherit
      padding: 1em 1.4em
      font-size: 14px
      color: #ececec
      background-color: #3F3F3F
      text-decoration: none
      vertical-align: middle
      text-align: center

    a:hover
      background-color: #f4f4f4
      color: #000000


/* introduction */
.introduction
  background-color: white
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  font-size: 18px
  height: 150px
  float: left
  margin-bottom: 47px

  p
    padding: 15px 46px
    line-height: 30px

/* news */
.news
  background-color: white
  -moz-box-shadow: 0 0 10px #777777
  -webkit-box-shadow: 0 0 10px #777777
  box-shadow: 0 0 10px #777777
  padding: 35px 50px
  font-size: 18px
  height: 400px
  float: left
  margin-bottom: 40px

.leftnews
  float: left
  width: 550px
  height: 210px
  margin-right: 50px

  h2
    font-size: 30px
    margin-bottom: 20px

  li
    height: 150px
    margin-bottom: 33px

  .newslogo
    float: left
    padding: 7px
    background-color: #F4F4F4
    margin-right: 31px
  
  .newsinfo
    float: right
    width: 310px

    p
      margin-bottom: 10px  
      line-height: 21px
      font-size: 14px

.rightnews
  float: right
  width: 240px

  h2
    font-size: 30px
    margin-bottom: 20px

  ul
    margin-bottom: 33px

  li
    background-image: url("images/icon_03.png")
    background-repeat: no-repeat
    padding-left: 1em
    background-position: 4px 5px
    font-size: 14px
    margin-bottom: 20px

  input
    width: 200px
    height: 46px
    padding-left: 20px 
    margin-bottom: 20px

  a
    display: block
    width: 70px
    height: 15px
    background-color: #f4f4f4
    color: #01a5ca
    padding: 20px 30px

  a:hover
    background-color: #3f3f3f
    color: #ececec




/* footer */
.footer
  text-align: center

.footer p
  line-height: 30px
